.characters-section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all .3s ease;
}

.carousel .slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
}

.carousel .slide[data-active] {
  opacity: 1;
}

.svg-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slide .character-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-left: 1rem;
    color: white;
    z-index: 10;
    pointer-events: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    user-select: none;
    opacity: 0;
}

.slide[data-active] .character-info {
    opacity: 1;
}

.slide[data-active] .character-info .name,
.slide[data-active] .character-info .role,
.slide[data-active] .character-info .description {
    animation: slideIn .7s ease forwards;
}

.slide .character-info pre {
    margin: 0;
    font-family: ZZZ;
}

.slide .character-info h3 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
}

.slide .character-info .role {
    margin: 1rem 0;
    font-size: 2rem;
}

.slide .character-info .description {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.slide .character-info .idol-name {
    position: absolute;
    right: 4%;
    bottom: 22%;
    font-size: 5.3125rem;
    transform: translateX(50rem);
    opacity: 0;
}

.slide[data-active] .character-info .idol-name {
    animation: slideOut .7s ease forwards;
}

.characters-nav-container {
    position: absolute;
    top: 76%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 14%;
    background-image: repeating-linear-gradient(-45deg, var(--dark-gray) 0, var(--dark-gray) 0.3rem, var(--light-black) 0.3rem, var(--light-black) 0.6rem);
    z-index: 1;
    user-select: none;
}

.characters-nav-container .characters-nav {
    height: 75.4%;
    width: 35%;
    background-color: var(--black);
    margin-left: 20%;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    border: 2px solid var(--gray);
}

.characters-nav button {
    width: 8.6%;
    height: 65.9%;
    border: none;
    cursor: pointer;
    transition: transform .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.characters-nav button:hover {
    transform: scale(1.1);
}

.characters-nav button:active {
    transform: scale(0.9);
}

.characters-nav .prev {
    border-radius: 5rem 1.5rem 1.5rem 5rem;
}

.characters-nav .next {
    border-radius: 1.5rem 5rem 5rem 1.5rem;
}

.characters-nav .character-mask {
    width: 20%;
    height: 71%;
    background-color: var(--pink);
    border-radius: 10px;
    cursor: pointer;
    transition: transform .3s ease;
}

.character-mask:active {
    transform: scale(0.9);
}

.character-mask img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.active-border {
    position: relative;
    position: absolute;
    width: 7%;
    height: 55%;
    pointer-events: none;
    transition: left .3s ease;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.active-border::after, .active-border::before {
    content: '';
    position: absolute;
    top: -28%;
    left: -12.5%;
    width: 125%;
    height: 156.7%;
    padding: 8px;
    background: conic-gradient(from var(--angle), var(--pink), var(--green), var(--pink));
    border-radius: 10px;
    animation: 3s spin linear infinite;
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 1;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes slideIn {
    from { transform: translateX(-50rem); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideOut {
    from { transform: translateX(50rem); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}