.footer-section {
    width: 100vw;
    height: 50vh;
    position: relative;
    background-color: var(--gray);
    color: white;
    padding: 2.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    gap: 12rem;
    margin-bottom: 1rem;
    user-select: none;
}

.header .title h2 {
    margin: 0;
    font-weight: normal;
    font-size: 2.5rem;
}

.links {
    display: flex;
    gap: 19rem;
}

.links, .credits {
    font-size: 2rem;
}

.links .social-media, .links .music, .links .important {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.credits {
    margin-top: auto;
    color: var(--light-gray);
}

.links a {
    position: relative;
    display: block;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--green), var(--pink), var(--green));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 4s linear infinite;
}

.links a:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
}

