@import url('nav.css');

.hero-section > .img {
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.hero-section > .stream {
    max-width: 46.8rem;
    top: 35%;
    left: 1rem;
}

.hero-section > .card {
    max-width: 29rem;
    top: 78%;
    right: 1rem;
}

.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-section .background {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
}